<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <script src="https://kit.fontawesome.com/e6da320557.js" crossorigin="anonymous"></script>
    <style>
        *
        {
            padding: 0%;
            margin:0;
            box-sizing: border-box;
        }
        body{
            background-color: beige;
        }
        .cont h1
        {
            font-size: 30px;
            padding: 20px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            border-bottom: 1px solid rgba(0, 0, 0, 0.348);
        }
        .cont p
        {
            font-size: 20px;
            padding: 20px;
            text-align: justify;
        }
        .cont p span{
            font-weight: 600;
        }
        .cont h2
        {
            font-family: Georgia, 'Times New Roman', Times, serif;
            margin-left:20px;

            padding: 10px;
            background-color: black;
            color:white;
            width:380px;
        }
    </style>
</head>
<body>
    <div class="about">
        <div class="cont">
            <h1>About Ecomm</h1>
            <p><span>Ecomm: Affordable Online Shopping at Your Fingertips</span>
                There are many benefits of shopping online. You can take your time and look at different options to find exactly what you want. It's easy to compare prices online and find exactly what you are looking for. And now with Meesho, you can shop for anything you want at the lowest prices in the market. Even if you want to shop for cool gifts for your friends and family, there are many options that you can find on the Internet.
                <br><br><span>Latest Women's Fashion Is Right Here</span>
                Womens Ethnic Wear Collection
                When it comes to women's ethnic wear, we have everything you need to find the perfect outfit for any occasion. Whether you're looking for traditional sarees and blouses, or something more modern like suits or casual Kurtis, we have it all. And with our stunning collection of accessories, footwear, and jewellery sets, it's easy to put together a complete look that will turn heads at your next wedding or festive celebration. So come and shop with us today!
                <br><br>
                <span> Western Wear for Women</span>
                Meesho is the best place to find fashionable and affordable western wear for women. With a constantly updating inventory of casual, formal, and partywear dresses, jeans, tops, T-shirts, skirts, and more, Meesho has all the latest trending outfits you're looking for--plus funky jewelry and accessories. You'll never have to worry about overspending or not being able to find something you love!</p>
                <h2>Download Ecomm App Now</h2>
            </div>
    </div>
</body>
</html>