<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
    <script src="https://kit.fontawesome.com/e6da320557.js" crossorigin="anonymous"></script>
    <style>
          *
        {
            padding: 0%;
            margin: 0px;
            box-sizing: border-box;
            font-family: "poppins",sans-serif;
        }
        .contact
        {
            display: flex;
            justify-content:center;
        }
        .content
        {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            background-color: white;
            height: 440px;
            width:500px;
            padding:10px;
            margin-top: 40px;
        }
        .content h1
        {
            text-align: center;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                   }
        .content input
        {
            text-align: center;
            height: 30px;
            width: 400px;
            margin-top: 15px;
            margin-left: 30px;
            border:none;
            background-color: rgb(221, 221, 221);
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            border-radius: 5px;
        }
        .content select
        {
            height: 30px;
            width: 200px;
            margin-left: 30px;
            background-color: rgb(221, 221, 221);
            border: none;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            border-radius: 5px;
        }
        .content .date input
        {
            text-align: center;
            height: 30px;
            width: 200px;
            margin-top: 15px;
            margin-left: 30px;
            border:none;
            background-color: rgb(221, 221, 221);
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            border-radius: 5px;
        }
        .content label
        {
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin-top: 15px;
            margin-left: 30px;
            font-size: large;
        }
        .content textarea
        {
            margin-top: 10px;
            margin-left: 30px;
            height: 85px;
            width: 400px;
            border:none;
            background-color: rgb(221, 221, 221);
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            border-radius: 5px;
        }
        .content button
        {
        margin-top:20px;
        margin-left:190px;
        width:100px;
        height:35px;
        color: white;
        border:none;
        font-size: 16px;
        background-color: black;
        cursor: pointer;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        }
    </style>
</head>
<body>
    <div class="contact">
        <div class="content">
    <h1>Contact us</h1>
    <form action="">
        <input type="text" name="name" placeholder="Enter your Name"required><br>
        <input type="email" name="mail" placeholder="Enter your Email"required><br>
        <input type="Phone" name="phone" placeholder="Enter your Number"required><br>
        <br>
        
       <label> Message</label><br>
        <textarea></textarea><br>
        <button>Submit</button>
    </form>
    </div>
    </div>
</body>
</html>