<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/e6da320557.js" crossorigin="anonymous"></script>
    <style>
        *
        {
            padding:0;
            margin:0;
            box-sizing: border-box;
        }
        .cone h2
        {
            padding: 20px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        .cone details
        {
            border:1px solid black;
            padding: 20px;
            margin:10px;
        }
    </style>

</head>
<body>
    
    <div class="cone">
    <h2>Frequently Asked Questions</h2>
    <details>
        <summary>What are the Categories Available</summary>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius laborum debitis rem natus temporibus. Numquam molestiae quidem nostrum sequi, ex consequuntur, vero, iusto laudantium quasi ad esse officia maxime dolor!</p>
    </details>

    <details>
        <summary>What are the Categories Available</summary>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius laborum debitis rem natus temporibus. Numquam molestiae quidem nostrum sequi, ex consequuntur, vero, iusto laudantium quasi ad esse officia maxime dolor!</p>
    </details>

    <details>
        <summary>What are the Categories Available</summary>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius laborum debitis rem natus temporibus. Numquam molestiae quidem nostrum sequi, ex consequuntur, vero, iusto laudantium quasi ad esse officia maxime dolor!</p>
    </details>
    <details>
        <summary>What are the Categories Available</summary>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius laborum debitis rem natus temporibus. Numquam molestiae quidem nostrum sequi, ex consequuntur, vero, iusto laudantium quasi ad esse officia maxime dolor!</p>
    </details>
    <details>
        <summary>What are the Categories Available</summary>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius laborum debitis rem natus temporibus. Numquam molestiae quidem nostrum sequi, ex consequuntur, vero, iusto laudantium quasi ad esse officia maxime dolor!</p>
    </details>
    <details>
        <summary>What are the Categories Available</summary>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius laborum debitis rem natus temporibus. Numquam molestiae quidem nostrum sequi, ex consequuntur, vero, iusto laudantium quasi ad esse officia maxime dolor!</p>
    </details>
</div>
</body>
</html>